<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('includes/head') -%>
</head>

<body>
    <!-- 들여쓰기는 alt + shift + f -->
    <div class="container">
        <%- include('includes/nav') -%>
        
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <div class="jumbotron">
                    <h1 class="display-4">수원정보과학고등학교</h1>
                    <p class="lead">안녕하세요 수원정보과학고 node.js 웹사이트입니다.</p>
                    <hr class="my-4">
                    <p>채팅방과 게시판을 만들 예정입니다.</p>
                    <a class="btn btn-primary btn-lg" href="/board" role="button">게시판 보기</a>
                </div>
            </div> <!-- end of col-10 offset-1 -->
        </div> <!-- end of row-->

        <div class="row">
            <div class="col-12">
                <footer class="bg-dark text-white p-3 text-center">
                    Copyright &copy; All right reserved to SSJB.hs.kr
                </footer>
            </div>
        </div>
    </div> <!-- end of container -->
</body>
<!-- 10.114.52.99:9090 -->
</html>